#initial{
    display: grid;
    height: 100vh;
    align-items: center;
    background-image: url(../../assets/home-bg.jpg);
    background-position: center;
    background-size: cover;
}

#initial p{
    font-size: 28px;
    color: #bcbcbc;
    max-width: 700px;
}

#initial a{
    margin-top: 2rem;
    width: fit-content;
        
}