*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0F1624;
  overflow-x: hidden;
}

section{
  padding: 8%;
}

h1, h2{  
  color: #fff;
  font-weight: 800;
  font-family: "Sora", sans-serif;
}

h1{
  font-size: 64px;
}
h2{
  font-size: 38px;
}

p, a{
  font-size: 1rem;
  color: #fff;
  text-decoration: none;  
  font-family: "Montserrat", sans-serif;
}

ul{
  list-style: none;
}

h3{
  font-size: 36px;  
  color: #fff;
}

.link_btn{
  padding: 1.2rem 3rem;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
  border-radius: 80px;
  text-align: center;
}